/*-----------------------------------*\
  #style.css
\*-----------------------------------*/



/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root{

  /* background color */
  --bg-dark-purple: hsla(260, 62%, 11%, 1);
  --bg-violet: hsla(259, 61%, 14%, 1);
  --bg-light-blue: hsla(202, 100%, 50%, 1);
  --color-aqua: aqua;  

  /* text color */
  --text-white: hsla(0, 0%, 100%, 1);
  --text-black: hsla(0, 0%, 0%, 1);
  --text-orange: orange;

  /* border color */


  /* typography */

  /* font family */
  --fontFamily-open-sans: 'Open Sans', sans-serif;
  
  /* font size */
  --fontSize-1: 4rem;
  --fontSize-2: 3.2rem;
  --fontSize-3: 2.4rem;
  --fontSize-4: 2rem;
  --fontSize-5: 1.8rem;
  --fontSize-6: 1.6rem;
  --fontSize-7: 1.4rem;

  /* font weight */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semiBold: 600;
  --weight-bold: 700;

  /* section spacing */
  --section-spacing: 100px;

  /* box shadow */
  --shadow-1: drop-shadow(0 20px 30px hsla(0, 0%, 0%, 0.1));
  --shadow-2: drop-shadow(0 20px 30px hsla(0, 0%, 0%, 0.2));

  /* border radius */
  --radius-24: 24px;
  --radius-40: 40px;
  --radius-pill: 500px;

  /* transition */
  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --cubic-out: cubic-bezier(0, 1, 0.5, 1);
}




/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*, *::before, *::after{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

a, 
img,
span, 
button, 
ion-icon{
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {height: auto;};

input,
button{
  background: none;
  border: none;
  font: inherit;
}

input{
  width: 100%;
  outline: none;
}

button{
  cursor: pointer;
}

ion-icon{
  pointer-events: none;
}

address{
  font-style: normal;
}

body{
  background-color: var(--bg-dark-purple);
}


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/


/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.navbar{ background-color: var(--bg-violet); }


.navbar .nav-link{
  color: var(--text-white);
}

.navbar-brand{
  color: var(--text-white);
  margin-left: 5px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav .nav-link {
  margin: 0 10px;
}

.btn-orange{
  background-color: var(--text-orange);
  margin-right: 5px;
}

.btn-orange:hover{
  background-color: rgb(214, 207, 193);
}

/*-----------------------------------*\
#LANDING
\*-----------------------------------*/

#landing{
  /* height: 100vh; */
  margin-bottom: 200px;
}

.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;  
    color: var(--text-white);
}

.row{
  padding-top: 6rem;
  padding-left: 10%;
  padding-right: 10%;
}

.title-img{
  width: 95%;
  transform: rotate(20deg);
  /* padding-bottom: 50px; */
  position: relative;
  left: 18%;
}

.Download-button{
  margin: 5% 3% 5% 0;
}


/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

#about{
  padding: 5% 1%;
  background-color: var(--bg-violet);
  position: relative;
}

.about-heading{
  font-size: 3.5rem;
  line-height: 1.5;  
  color: var(--text-orange);
}

.about-img{
  width: 69%;
  position: relative;
  left: 30%;
}

.container.about{
  color: var(--text-white);
  font-size: var(--fontSize-7);
}

.row .about{
  padding: 0;
}

.about i{
  color: var(--color-aqua);
}